---
import PhotoThumbnail from '@/components/original/photo-thumbnail'
import Toolbar from '@/components/original/toolbar'
import Layout from '../layouts/Layout.astro'

import { Image } from 'astro:assets'
import { photos } from 'data/photo-data'
---

<Layout>
  <main>
    <div class="columns-2 md:columns-3 gap-4">
      {
        photos.map((photo) => (
          <PhotoThumbnail title={photo.title} client:load>
            <div class="mb-4">
              <div class="shadow">
                <Image
                  src={photo.src}
                  alt={photo.description}
                  loading="eager"
                  class="drop-shadow"
                />
              </div>
            </div>
          </PhotoThumbnail>
        ))
      }
    </div>

    <Toolbar client:load />
  </main>
</Layout>
