---
import ThemeButton from '@/components/original/theme-button'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <ThemeButton client:load />
  </main>
</Layout>
